:root {
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    height: 10rem;
    color: white;
    background-color: green;
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    height: 100%;
}

section {
    margin-bottom: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.image-section {
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 3rem;
    padding: 10px;
    border: green dotted 2px;
    height: fit-content;
}

.question-section {
    margin-left: 20px;
    margin-right: 20px;
}

.form-section {
    align-items: flex-start;
}

form {
    border: 2px black solid;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    width: 50%;
    height: fit-content;
    font-size: 1.3rem;
}

form > label {
    margin: 5px;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;

}

.submit {
    color: white;
    background-color: green;
    width: 10rem;
    height: 3rem;
    box-shadow: var(--shadow);
    font-size: 1.3rem;
}

.hidden {
    display: none;
}